.dex-screen{
  background:
    linear-gradient(0deg, var(--lcd-w), transparent .5rem),
    linear-gradient(90deg, var(--lcd-b), transparent .5rem),
    linear-gradient(180deg, var(--lcd-b), transparent .5rem),
    linear-gradient(270deg, var(--lcd-w), transparent .5rem),
    var(--lcd-w);
  color: var(--lcd-b);
  text-shadow: 0 0 2px var(--reflection);
  font-family: "Press Start 2P";
  flex-grow: 100;
  padding: .5rem;
  border-radius: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dex-screen img{
  image-rendering: pixelated;
}
