.loader{
  pointer-events: none;
  position: fixed;
  inset:0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader div{
  position: absolute;
  transition: transform 1s;
  border: .2rem solid var(--lcd-b);
  width: 50%;
  height: 50%;
  border-radius: .5rem;
  background:
    linear-gradient(0deg, var(--lcd-b), transparent .5rem),
    linear-gradient(90deg, var(--lcd-w), transparent .5rem),
    linear-gradient(180deg, var(--lcd-w), transparent .5rem),
    linear-gradient(270deg, var(--lcd-b), transparent .5rem),
    linear-gradient(-45deg, var(--dex-shadow), var(--dex-light));
}
.loader .top-left{
  top: 0;
  left: 0;
}
.loader .top-right{
  top: 0;
  right: 0;
}
.loader .bottom-left{
  bottom: 0;
  left: 0;
}
.loader .bottom-right{
  bottom: 0;
  right: 0;
}
.loader.loaded .top-left{
  transform: translateY(-100%) translateX(-100%);
}
.loader.loaded .top-right{
  transform: translateY(-100%) translateX(100%);
}
.loader.loaded .bottom-left{
  transform: translateY(100%) translateX(-100%);
}
.loader.loaded .bottom-right{
  transform: translateY(100%) translateX(100%);
}
.loader .lens{
  background:
    radial-gradient(circle at 30% 30%, var(--reflection), var(--lens) 20%, var(--lens) 50%, var(--shadow));
  border: .4rem outset var(--lcd-b);
  position: relative;
  border-radius: 50%;
  width: 30vmin;
  height: auto;
  aspect-ratio: 1;
  animation: lensload .4s infinite;
}
.loader.loaded .lens{
  transform: scale(0);
}
@keyframes lensload{
  50%{
    filter: hue-rotate(90deg);
}
