.not-found{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  text-shadow: 1px 1px 1px var(--reflection),-1px -1px 1px var(--reflection);
}
.not-found h2{
  font-size: 6rem;
}
.not-found h2 img{
  height: 6rem;
  margin-right: .5rem;
  animation: rotate .8s linear infinite;
}
.not-found .not-found-image{
  height: 12rem;
  align-self: center;
  filter: drop-shadow(4px 4px var(--lcd-b));
}
@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
