.poke-info{
}
.poke-info div ul{
  border: 1px solid red;
}


.poke-info nav div{
  display: flex;
  align-items: center;
  padding: 0.3rem;
  background-color: var(--lcd-b);
  color: var(--lcd-w);
}
.poke-info button{
  text-shadow: 0 0 1px var(--reflection);
  font-family: "Press Start 2P";
  background-color: var(--lcd-b);
  color: var(--lcd-w);
  height: 3rem;
  aspect-ratio: 1;
  border-radius: 0;
  border: 1px solid var(--lcd-w);
}
.poke-info h2{
  text-transform: capitalize;
  text-shadow: 0 0 1px var(--reflection);
  flex-grow: 100;
  text-align: center;
}


.poke-info nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.3rem 0;
}
.poke-info nav li{
  width: 49%;
  text-align: center;
  border: 1px solid var(--shadow);
  padding: 0.5rem 0;
}

.poke-info div ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: .5rem 0;
}
.poke-info div li{
  width: 24%;
  text-align: center;
  border: 1px solid green;
}
.poke-info div ul img{
  width: 100%;
}


.active-mon{
  background-color: var(--lcd-b);
  color: var(--lcd-w);
}
