.poke-info .portrait-info{
  position: relative;
  text-align: center;
}
.poke-info .portrait-info p{
  position: absolute;
  padding: 1rem;
  text-transform: capitalize;
}
.poke-info .portrait-info .type-b{
  bottom: 0;
  right: 0;
}
.poke-info .portrait-info img{
  width: 50vmin;
  filter: drop-shadow(8px 8px);
}
.poke-info .portrait-info .portrait-loaded{
  animation: evolve .5s ease-in;
}
@keyframes evolve{
  0%{
    filter: drop-shadow(0 0) grayscale(100%) brightness(1000%);
  }
  100%{
    filter: drop-shadow(8px 8px) grayscale(0%) brightness(100%);
  }
}
.poke-info h3{
  padding: .3rem 0;
  text-align: center;
}
.poke-info nav .mon-title{
  display: flex;
  align-items: center;
  padding: 0.3rem;
  background-color: var(--lcd-b);
  color: var(--lcd-w);
}
.poke-info nav .mon-title button{
  text-shadow: 0 0 1px var(--reflection);
  font-family: "Press Start 2P";
  background-color: var(--lcd-b);
  color: var(--lcd-w);
  height: 3rem;
  aspect-ratio: 1;
  border-radius: 0;
  border: 1px solid var(--lcd-w);
}
.poke-info nav .mon-title h2{
  text-transform: capitalize;
  text-shadow: 0 0 1px var(--reflection);
  flex-grow: 100;
  text-align: center;
}
.poke-info nav form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.3rem 0;
}
.poke-info nav label{
  width: 49.5%;
  text-align: center;
  box-shadow: 1px 1px 3px var(--shadow);
  margin: .1rem 0;
  padding: .3rem 0;
  display: block;
  transition: .3s;
}
.poke-info nav input{
  display: none;
}
.poke-info nav input:checked + label{
  background-color: var(--lcd-b);
  color: var(--lcd-w);
}
