.evo-list.evo-list{
  box-shadow: 1px 1px 3px var(--lcd-b);
  margin: .5rem 0;
  padding: .3rem;
}
.evo-list.evo-list ul{
  padding: 0;
  border: none;
}
.evo-list .evo-container{
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
}
.evo-list .evo-wrapper{
  min-width: 9rem;
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .3rem .2rem;
}
.evo-list .active-evo .evo-detail, .evo-list .active-evo h3{
  background-color: var(--lcd-b);
  color: var(--lcd-w);
}
.evo-list .evo-detail{
  display: flex;
  justify-content: space-between;
  font-size: .6rem;
  text-transform: capitalize;
  padding: .5rem .2rem;
  border-radius: .5rem .5rem 0 0;
  box-shadow: 1px 1px 3px var(--lcd-b);
}
.evo-list .evo-detail div{
  display: flex;
  flex-direction: column;
  flex-grow: 100;
  justify-content: space-evenly;
  align-items: center;
}
.evo-list .evo-portrait{
  width: 5rem;
}
.evo-list .evo-item{
  width: 2rem;
}
.evo-list .evo-wrapper h3{
  font-size: .8rem;
  border-radius: 0 0 .5rem .5rem;
  box-shadow: 1px 1px 3px var(--lcd-b);
  text-transform: capitalize;
  padding: .3rem 0;
}
