.evo-list h2{
  text-transform: capitalize;
  text-align: center;
  font-size: 1.3rem;
  padding-top: .5rem;
}
.evo-list .evo-wrapper{
  display: flex;
  justify-content: center;
  gap: .5rem;
  align-items: center;
}
.evo-list .evo-container{
}
.evo-list .evo-to-list{
  background-color: red;
}
.evo-list .evo-container{
  box-shadow: 1px 1px 3px var(--shadow);
  border-radius: 0.5rem;
  min-height: 9rem;
  min-width: 9rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-transform: capitalize;
  transition: .1s;
}
.evo-list .evo-container:active, .evo-list .active-evo{
  color: var(--lcd-w);
  background-color: var(--lcd-b);
}
.evo-list .evo-container:hover{
  background-color: var(--reflection);
  transform: scale(1.05);
}
.evo-list .evo-container h3{
  font-size: 0.85rem;
  bottom: 1.3rem;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: .3rem;
}
.evo-list .evo-detail{
  display: flex;
  justify-content: center;
}
.evo-list .evo-how{
  width: 5rem;
  font-size: .6rem;
  text-align: center;
  padding: .3rem 0;
}
.evo-list .evo-item{
  width: 2.5rem;
}
.evo-list .evo-portrait{
  width: 4.5rem;
  align-self: center;
}
.evo-list .baby-evo-detail{
  background-color: red;
  width: 5rem;
  font-size: .6rem;
  text-align: center;
  padding: .3rem 0;

}
