.forms-list.forms-list{
  box-shadow: 1px 1px 3px var(--lcd-b);
  margin: .5rem 0;
  padding: .3rem;
}
.forms-list .active-form{
  background-color: var(--lcd-b);
  color: var(--lcd-w);
}
.forms-list.forms-list ul{
  padding: .5rem 0;
  border: none;
  display: flex;
  overflow-x: scroll;
  gap: .5rem;
}
.forms-list.forms-list li{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  padding: .5rem .2rem;
  border-radius: .5rem;
  box-shadow: 1px 1px 2px var(--lcd-b);
  border: none;
  width: 10rem;
  flex-shrink: 0;
  height: 9rem;
  transition: .1s;
}
.forms-list .form-portrait{
  width: 100%;
}
.forms-list .form-type{
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-evenly;
  top: .2rem;
}
.forms-list .form-type h4{
  padding: .2rem;
  border-radius: .5rem;
  box-shadow: 1px 1px 3px var(--shadow);
  font-size: .7rem;
  color: var(--reflection);
  text-shadow: 1px 1px 2px var(--shadow);
}
.forms-list.forms-list h3{
  position: absolute;
  bottom: .2rem;
  font-size: .8rem;
  text-transform: capitalize;
}
.forms-list.forms-list h2{
  text-align: center;
  font-size: 1.3rem;
}
