.type-gender{
  box-shadow: 1px 1px 3px var(--lcd-b);
}
.type-gender .info-type{
  border: none;
}
.type-gender .info-type li{
  padding: .5rem;
  border: none;
  box-shadow: 1px 1px 3px var(--lcd-b);
  border-radius: .5rem;
}
