@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root{
  --reflection: #fff;
  --shadow: #000d;
  --lens: #2a5ddf;
  --dex: #961515;
  --dex-light: #aa3030;
  --dex-shadow: #850505;
  --lcd-b: #222222;
  --lcd-w: #d9d9d9;

  --normal-type: #A8A77A;
  --fire-type: #EE8130;
  --water-type: #6390F0;
  --electric-type: #F7D02C;
  --grass-type: #7AC74C;
  --ice-type: #96D9D6;
  --fighting-type: #C22E28;
  --poison-type: #A33EA1;
  --ground-type: #E2BF65;
  --flying-type: #A98FF3;
  --psychic-type: #F95587;
  --bug-type: #A6B91A;
  --rock-type: #B6A136;
  --ghost-type: #735797;
  --dragon-type: #6F35FC;
  --dark-type: #705746;
  --steel-type: #B7B7CE;
  --fairy-type: #D685AD;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html, button{
  font-size: 12px;
}
html, body, #root{
  height: 100%;
}
body{
  background:
    linear-gradient(0deg, var(--lcd-b), transparent .5rem),
    linear-gradient(90deg, var(--lcd-w), transparent .5rem),
    linear-gradient(180deg, var(--lcd-w), transparent .5rem),
    linear-gradient(270deg, var(--lcd-b), transparent .5rem),
    linear-gradient(-45deg, var(--dex-shadow), var(--dex-light));
  border: .2rem outset var(--lcd-b);
  color: var(--reflection);
  font-family: "Noto Sans";
  padding: 1rem 0.5rem;
}
input{
  font-family: "Noto Sans";
}
#root{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}
.normal-bg{
background-color: #A8A77A;
}
.fire-bg{
background-color: #EE8130;
}
.water-bg{
background-color: #6390F0;
}
.electric-bg{
background-color: #F7D02C;
}
.grass-bg{
background-color: #7AC74C;
}
.ice-bg{
background-color: #96D9D6;
}
.fighting-bg{
background-color: #C22E28;
}
.poison-bg{
background-color: #A33EA1;
}
.ground-bg{
background-color: #E2BF65;
}
.flying-bg{
background-color: #A98FF3;
}
.psychic-bg{
background-color: #F95587;
}
.bug-bg{
background-color: #A6B91A;
}
.rock-bg{
background-color: #B6A136;
}
.ghost-bg{
background-color: #735797;
}
.dragon-bg{
background-color: #6F35FC;
}
.dark-bg{
background-color: #705746;
}
.steel-bg{
background-color: #B7B7CE;
}
.fairy-bg{
background-color: #D685AD;
}
