@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root{
  --reflection: #fff;
  --shadow: #000d;
  --lens: #2a5ddf;
  --dex: #961515;
  --lcd-b: #222222;
  --lcd-w: #d9d9d9;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html{
  font-size: 12px;
}
html, body, #root{
  height: 100%;
}
