@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root{
  --reflection: #fff;
  --shadow: #000d;
  --lens: #2a5ddf;
  --dex: #961515;
  --lcd-b: #222222;
  --lcd-w: #d9d9d9;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html, button{
  font-size: 12px;
}
html, body, #root{
  height: 100%;
}
body{
  background-color: var(--dex);
  color: var(--reflection);
  font-family: "Noto Sans";
  padding: 1rem 0.5rem;
}
input{
  font-family: "Noto Sans";
}
#root{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}
.normal-bg{
background-color: #A8A77A;
}
.fire-bg{
background-color: #EE8130;
}
.water-bg{
background-color: #6390F0;
}
.electric-bg{
background-color: #F7D02C;
}
.grass-bg{
background-color: #7AC74C;
}
.ice-bg{
background-color: #96D9D6;
}
.fighting-bg{
background-color: #C22E28;
}
.poison-bg{
background-color: #A33EA1;
}
.ground-bg{
background-color: #E2BF65;
}
.flying-bg{
background-color: #A98FF3;
}
.psychic-bg{
background-color: #F95587;
}
.bug-bg{
background-color: #A6B91A;
}
.rock-bg{
background-color: #B6A136;
}
.ghost-bg{
background-color: #735797;
}
.dragon-bg{
background-color: #6F35FC;
}
.dark-bg{
background-color: #705746;
}
.steel-bg{
background-color: #B7B7CE;
}
.fairy-bg{
background-color: #D685AD;
}
